<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!-- inizisalizzo vuejs -->
    <div id="app" v-cloak>

        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <!-- immetto foto con vuejs -->
                <div class="item"
                v-for="(item, index) in slides"
                v-show="currentImage === index">
                    <img :src="item.image" :alt="item.title" />
                    <div class="text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.text}}</p>
                    </div>
                </div>

                <!-- miniature -->
                <div class="thumbs">
                    <!-- bottoni -->
                    <div @click="imgNext" class="prev"></div>
                    <div @click="imgPrev" class="next"></div>
                    <!-- /bottoni -->
                    <!-- immetto le miniature con vuejs -->
                    <div v-for="(thumb, index) in slides">
                        <div class="thumb" 
                        :class="{active: currentImage === index}"
                        @click="selectImg(index)">
                            <img :src="thumb.image" :alt="thumb.title" />
                        </div>
                    </div>
                    <!-- /immetto le miniature con vuejs -->
                </div>
                <!-- /miniature -->

            </div>
        </div>

    </div>
    <!-- /inizisalizzo vuejs -->


    <!-- vue js -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!-- /vue js -->
    <!-- project js -->
    <script type="text/javascript" src="./js/script.js"></script>
    <!-- /project js -->
</body>

</html>